/*.main-panel{
	background-color: none;
}
*/
.control-button-container {
    padding: 5px;
}
.spaceb{
    width: 20px;
}
.button-control {
    padding: 10px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(150,150,150,0.1);
    background-gradient-end: rgba(250,250,250,0.1);
    color:#b5b5b5;
    border-radius: 12px;
    transition-duration: 250;
}
.button-control:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(150,150,150,0.1);
    background-gradient-end: rgba(250,250,250,0.3);
    color:#ededed;
    transition-duration: 250;
}
.button-control:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(150,150,150,0.2);
    background-gradient-end: rgba(250,250,250,0.4);
    color:#ffffff;
    transition-duration: 0;
}
.mib-track-info{
    width: 100%;
}
